/* fonts */
@font-face {
    font-family: "20db";
    src: url("fonts/20db.otf");
}

@font-face {
    font-family: "Tinos";
    src: url("fonts/Tinos-Regular.ttf");
}

/* Reset margin and padding everywhere */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f1ddbf;
    color: #525e75;
    font-family: "Tinos", "Garamond", "Times New Roman", serif;
}

.contents {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    padding-top: 0;
}

.header {
    background-color: #92ba92;
    text-align: center;
    padding-bottom: 5px;
}

.header h1 {
    font-family: "20db", sans-serif;
}

.header h2 {
    font-family: "Arial", sans-serif;
    color: #78938a;
}

.body {
    padding-top: 5px;
}
