/* fonts */
@font-face {
    font-family: "20db";
    src: url("fonts/20db.otf");
}

@font-face {
    font-family: "Tinos";
    src: url("fonts/Tinos-Regular.ttf");
}

/* Reset margin and padding everywhere */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f1ddbf;
    color: #525e75;
    font-family: "Tinos", "Garamond", "Times New Roman", serif;
}

a {
    color: #525e75;
}

a:visited {
    color: #78938a;
}

.contents {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    padding-top: 0;
}

.header {
    background-color: #92ba92;
    text-align: center;
    padding-bottom: 5px;
}

.header h1 {
    font-family: "20db", sans-serif;
}

.header h2 {
    font-family: "Arial", sans-serif;
    color: #78938a;
}

.body {
    padding-top: 5px;
    text-align: justify;
}

.body li {
    break-inside: avoid;
}

.body p {
    margin-left: 2px;
    margin-right: 2px;
}

.body h3 {
    padding: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #92ba92;
    font-family: "Arial", sans-serif;
}

.link-lst {
    list-style-position: outside;
    list-style-type: square;
    padding-left: 1em;
}

.two-col {
   -webkit-column-count: 2;
      -moz-column-count: 2;
           column-count: 2;

   -webkit-column-gap: 20px;
      -moz-column-gap: 20px;
           column-gap: 20px;
}
