<!DOCTYPE html>
<html>
  <head>
    <title>Velkommen</title>
    <link href="/style.css" rel="stylesheet">
  </head>
  <body>
    <div class="contents">
      <div class="header">
        <h1>Programmering</h1>
        <h2>H.C. Ørsted Gymnasium, Frederiksberg</h2>
      </div>
      <div class="body">
        <p>Velkommen til hjemmesiden for programmeringsklasserne på H.C. Ørsted Gymnasium, Frederiksberg.</p>

        <h3>Software</h3>
	<p>
	I programmeringstimerne bruger vi primært programmeringssproget Python. Derudover skal du bruge en <i>editor</i>: et program
	du kan skrive din kode i. Det kan entent være en meget simpel editor, f.eks. Notepad++ til Windows, eller du kan vælge en med mere
	funktionalitet, f.eks. Visual Studio Code. Det vigtigste er at det er en editor lavet til programmering &mdash; Word kan ikke
	bruges.
	</p>
        <div class="two-col">
          <ul class="link-lst">
            <li>
              <a href="https://www.python.org/">Python</a>
              <p>Her kan man downloade den nyeste version af Python.</p>
            </li>
            <li>
              <a href="https://code.visualstudio.com/">Visual Studio Code</a>
	      <p>Visual Studio Code er en god editor der virker på alle styresystemer. Husk at installere
	      udvidelsen <i>Python</i> &mdash; så kan du køre dine Python-programmer direkte fra VS Code.</p>
            </li>
            <li>
              <a href="https://notepad-plus-plus.org/downloads/">Notepad++</a>
              <p>Notepad++ er en simpel editor til Windows. Den kan ikke så meget, til gengæld fylder den heller ikke så meget.</p>
            </li>
            <li>
              <a href="https://www.7-zip.org/">7-zip</a>
              <p>I programmering skal du ofte aflevere zip-filer med flere kodefiler. 7-zip er et godt værktøj til at arbejde
	      med zip-filer og andre arkivfiler på Windows.</p>
            </li>
          </ul>
        </div>
        <h3>Biblioteker og dokumentation</h3>
	<p>
	På nedenstående links kan du finde information om Python-programmering, om mange af de biblioteker vi bruger i undervisningen, og diverse andre emner.
	</p>
        <div class="two-col">
          <ul class="link-lst">
            <li>
              <a href="https://python-textbok.readthedocs.io/en/1.0/index.html">Object-Oriented Programming in Python</a>
              <p>Bog om Python-programmering på engelsk.</p>
            </li>
            <li>
              <a href="https://sanic.dev/en/guide/getting-started.html">Sanic dokumentation</a>
              <p>Sanic er et web-framework til Python, som vi bruger i programmeringstimerne når vi arbejder med web-udvikling. På ovenstående link finder du den officielle dokumentation.</p>
            </li>
            <li>
              <a href="https://dearpygui.readthedocs.io/en/latest/">Dear PyGui dokumentation</a>
              <p>Dear PyGui er et moderne GUI-framework til Python, som vi bruger når vi gerne vil lave desktop-programmer.</p>
            </li>
            <li>
              <a href="https://jinja.palletsprojects.com/en/3.1.x/">Jinja</a>
	      <p>
	      	Jinja er et template-sprog, som kan bruges til at lave HTML-filer med dynamisk indhold.
	      </p>
            </li>
            <li>
              <a href="https://docs.python.org/3/library/sqlite3.html">SQLite3 til Python</a>
              <p>SQLite3 er et simpelt fil-baseret database-bibliotek. Når man installerer Python, får man automatisk et Python-bibliotek til SQLite3 med. På ovenstående link findes dokumentation og eksempler.</p>
            </li>
            <li>
              <a href="https://developer.mozilla.org/en-US/">MDN Web Docs</a>
              <p>Mozilla Foundation har lavet nogle virkelig gode sider med dokumentation og tutorials for alt hvad der har med HTML, CSS, og JavaScript at gøre. Dem finder du på ovenstående link.</p>
            </li>
            <li>
              <a href="https://jsfiddle.net/">jsfiddle</a>
              <p>
	      	På jsfiddle kan man hurtigt og nemt eksperimentere med HTML, CSS, og JavaScript. Nyttigt til at undersøge hvordan man får et lille element på sin hjemmeside til at se rigtigt ud, inden man integrerer det i resten af koden.
	      </p>
            </li>
          </ul>
        </div>
        <h3>Elevsider</h3>
        <p>Her vil man senere kunne finde links til hjemmesider, som eleverne har lavet.</p>
      </div>
    </div>
  </body>
</html>
